In [ ]:
import os
import requests
import gzip
import shutil
import pandas as pd

# define dataset URLs you want to load
dataset_urls = {
    'title.basics': 'https://datasets.imdbws.com/title.basics.tsv.gz',
    'title.ratings': 'https://datasets.imdbws.com/title.ratings.tsv.gz',
    'name.basics':   'https://datasets.imdbws.com/name.basics.tsv.gz',
    'title.principals': 'https://datasets.imdbws.com/title.principals.tsv.gz',
    'title.crew': 'https://datasets.imdbws.com/title.crew.tsv.gz',
    'title.episode': 'https://datasets.imdbws.com/title.episode.tsv.gz',
    'title.akas': 'https://datasets.imdbws.com/title.akas.tsv.gz',
}

data_dir = 'imdb_data'
os.makedirs(data_dir, exist_ok=True)

for name, url in dataset_urls.items():
    gz_path = os.path.join(data_dir, f'{name}.tsv.gz')
    tsv_path = os.path.join(data_dir, f'{name}.tsv')

    # download
    print(f'Downloading {url} …')
    resp = requests.get(url, stream=True)
    with open(gz_path, 'wb') as f:
        shutil.copyfileobj(resp.raw, f)

    # decompress
    print(f'Decompressing {gz_path} → {tsv_path} …')
    with gzip.open(gz_path, 'rb') as f_in:
        with open(tsv_path, 'wb') as f_out:
            shutil.copyfileobj(f_in, f_out)

    # optionally remove .gz file
    os.remove(gz_path)

    # load into pandas
    print(f'Loading {tsv_path} into DataFrame …')
    df = pd.read_csv(tsv_path, sep='\t', dtype=str, low_memory=False)
    print(name, 'loaded:', df.shape)
    # e.g. store to a dict:
    globals()[f'df_{name.replace(".", "_")}'] = df

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.0.2 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "c:\Users\mathr\anaconda3\Lib\site-packages\ipykernel_launcher.py", line 17, in <module>
    app.launch_new_instance()
  File "c:\Users\mathr\anaconda3\Lib\site-packages\traitlets\config\application.py", line 1075, in launch_instance
    app.start()
  File "c:\Users\mathr\anaconda3\Lib\site-packages\ipykernel\kernelapp.py", line 701, in start
    self.io_loop.start()
  File "c:\Users\mathr\anaconda3\Lib\site-packages\tornado\platform\asyncio.py", line 205, in start
    self.asyncio_loop.run_forever()
  File "c:\Users\mathr\anaconda3\Lib\asyncio\windows_events.py", line 322, in run_forever
    super().run_forever()
  File "c:\Users\mathr\anaconda3\Lib\asyncio\base_events.py", line 641, in run_forever
    self._run_once()
  File "c:\Users\mathr\anaconda3\Lib\asyncio\base_events.py", line 1987, in _run_once
    handle._run()
  File "c:\Users\mathr\anaconda3\Lib\asyncio\events.py", line 88, in _run
    self._context.run(self._callback, *self._args)
  File "c:\Users\mathr\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 534, in dispatch_queue
    await self.process_one()
  File "c:\Users\mathr\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 523, in process_one
    await dispatch(*args)
  File "c:\Users\mathr\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 429, in dispatch_shell
    await result
  File "c:\Users\mathr\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 767, in execute_request
    reply_content = await reply_content
  File "c:\Users\mathr\anaconda3\Lib\site-packages\ipykernel\ipkernel.py", line 429, in do_execute
    res = shell.run_cell(
  File "c:\Users\mathr\anaconda3\Lib\site-packages\ipykernel\zmqshell.py", line 549, in run_cell
    return super().run_cell(*args, **kwargs)
  File "c:\Users\mathr\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3075, in run_cell
    result = self._run_cell(
  File "c:\Users\mathr\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3130, in _run_cell
    result = runner(coro)
  File "c:\Users\mathr\anaconda3\Lib\site-packages\IPython\core\async_helpers.py", line 129, in _pseudo_sync_runner
    coro.send(None)
  File "c:\Users\mathr\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3334, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "c:\Users\mathr\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3517, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "c:\Users\mathr\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3577, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\mathr\AppData\Local\Temp\ipykernel_29492\689860280.py", line 5, in <module>
    import pandas as pd
  File "c:\Users\mathr\anaconda3\Lib\site-packages\pandas\__init__.py", line 61, in <module>
    from pandas.core.api import (
  File "c:\Users\mathr\anaconda3\Lib\site-packages\pandas\core\api.py", line 28, in <module>
    from pandas.core.arrays import Categorical
  File "c:\Users\mathr\anaconda3\Lib\site-packages\pandas\core\arrays\__init__.py", line 1, in <module>
    from pandas.core.arrays.arrow import ArrowExtensionArray
  File "c:\Users\mathr\anaconda3\Lib\site-packages\pandas\core\arrays\arrow\__init__.py", line 5, in <module>
    from pandas.core.arrays.arrow.array import ArrowExtensionArray
  File "c:\Users\mathr\anaconda3\Lib\site-packages\pandas\core\arrays\arrow\array.py", line 52, in <module>
    from pandas.core import (
  File "c:\Users\mathr\anaconda3\Lib\site-packages\pandas\core\ops\__init__.py", line 8, in <module>
    from pandas.core.ops.array_ops import (
  File "c:\Users\mathr\anaconda3\Lib\site-packages\pandas\core\ops\array_ops.py", line 56, in <module>
    from pandas.core.computation import expressions
  File "c:\Users\mathr\anaconda3\Lib\site-packages\pandas\core\computation\expressions.py", line 21, in <module>
    from pandas.core.computation.check import NUMEXPR_INSTALLED
  File "c:\Users\mathr\anaconda3\Lib\site-packages\pandas\core\computation\check.py", line 5, in <module>
    ne = import_optional_dependency("numexpr", errors="warn")
  File "c:\Users\mathr\anaconda3\Lib\site-packages\pandas\compat\_optional.py", line 135, in import_optional_dependency
    module = importlib.import_module(name)
  File "c:\Users\mathr\anaconda3\Lib\importlib\__init__.py", line 90, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "c:\Users\mathr\anaconda3\Lib\site-packages\numexpr\__init__.py", line 24, in <module>
    from numexpr.interpreter import MAX_THREADS, use_vml, __BLOCK_SIZE1__

AttributeError: _ARRAY_API not found

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.0.2 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "c:\Users\mathr\anaconda3\Lib\site-packages\ipykernel_launcher.py", line 17, in <module>
    app.launch_new_instance()
  File "c:\Users\mathr\anaconda3\Lib\site-packages\traitlets\config\application.py", line 1075, in launch_instance
    app.start()
  File "c:\Users\mathr\anaconda3\Lib\site-packages\ipykernel\kernelapp.py", line 701, in start
    self.io_loop.start()
  File "c:\Users\mathr\anaconda3\Lib\site-packages\tornado\platform\asyncio.py", line 205, in start
    self.asyncio_loop.run_forever()
  File "c:\Users\mathr\anaconda3\Lib\asyncio\windows_events.py", line 322, in run_forever
    super().run_forever()
  File "c:\Users\mathr\anaconda3\Lib\asyncio\base_events.py", line 641, in run_forever
    self._run_once()
  File "c:\Users\mathr\anaconda3\Lib\asyncio\base_events.py", line 1987, in _run_once
    handle._run()
  File "c:\Users\mathr\anaconda3\Lib\asyncio\events.py", line 88, in _run
    self._context.run(self._callback, *self._args)
  File "c:\Users\mathr\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 534, in dispatch_queue
    await self.process_one()
  File "c:\Users\mathr\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 523, in process_one
    await dispatch(*args)
  File "c:\Users\mathr\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 429, in dispatch_shell
    await result
  File "c:\Users\mathr\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 767, in execute_request
    reply_content = await reply_content
  File "c:\Users\mathr\anaconda3\Lib\site-packages\ipykernel\ipkernel.py", line 429, in do_execute
    res = shell.run_cell(
  File "c:\Users\mathr\anaconda3\Lib\site-packages\ipykernel\zmqshell.py", line 549, in run_cell
    return super().run_cell(*args, **kwargs)
  File "c:\Users\mathr\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3075, in run_cell
    result = self._run_cell(
  File "c:\Users\mathr\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3130, in _run_cell
    result = runner(coro)
  File "c:\Users\mathr\anaconda3\Lib\site-packages\IPython\core\async_helpers.py", line 129, in _pseudo_sync_runner
    coro.send(None)
  File "c:\Users\mathr\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3334, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "c:\Users\mathr\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3517, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "c:\Users\mathr\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3577, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\mathr\AppData\Local\Temp\ipykernel_29492\689860280.py", line 5, in <module>
    import pandas as pd
  File "c:\Users\mathr\anaconda3\Lib\site-packages\pandas\__init__.py", line 61, in <module>
    from pandas.core.api import (
  File "c:\Users\mathr\anaconda3\Lib\site-packages\pandas\core\api.py", line 28, in <module>
    from pandas.core.arrays import Categorical
  File "c:\Users\mathr\anaconda3\Lib\site-packages\pandas\core\arrays\__init__.py", line 1, in <module>
    from pandas.core.arrays.arrow import ArrowExtensionArray
  File "c:\Users\mathr\anaconda3\Lib\site-packages\pandas\core\arrays\arrow\__init__.py", line 5, in <module>
    from pandas.core.arrays.arrow.array import ArrowExtensionArray
  File "c:\Users\mathr\anaconda3\Lib\site-packages\pandas\core\arrays\arrow\array.py", line 66, in <module>
    from pandas.core.arrays.masked import BaseMaskedArray
  File "c:\Users\mathr\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py", line 61, in <module>
    from pandas.core import (
  File "c:\Users\mathr\anaconda3\Lib\site-packages\pandas\core\nanops.py", line 52, in <module>
    bn = import_optional_dependency("bottleneck", errors="warn")
  File "c:\Users\mathr\anaconda3\Lib\site-packages\pandas\compat\_optional.py", line 135, in import_optional_dependency
    module = importlib.import_module(name)
  File "c:\Users\mathr\anaconda3\Lib\importlib\__init__.py", line 90, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "c:\Users\mathr\anaconda3\Lib\site-packages\bottleneck\__init__.py", line 7, in <module>
    from .move import (move_argmax, move_argmin, move_max, move_mean, move_median,

ImportError:
A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.0.2 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Downloading https://datasets.imdbws.com/title.basics.tsv.gz …
Decompressing imdb_data\title.basics.tsv.gz → imdb_data\title.basics.tsv …
Loading imdb_data\title.basics.tsv into DataFrame …
title.basics loaded: (12105185, 9)
Downloading https://datasets.imdbws.com/title.ratings.tsv.gz …
Decompressing imdb_data\title.ratings.tsv.gz → imdb_data\title.ratings.tsv …
Loading imdb_data\title.ratings.tsv into DataFrame …
title.ratings loaded: (1606629, 3)
Downloading https://datasets.imdbws.com/name.basics.tsv.gz …
Decompressing imdb_data\name.basics.tsv.gz → imdb_data\name.basics.tsv …
Loading imdb_data\name.basics.tsv into DataFrame …
name.basics loaded: (14909809, 6)
Downloading https://datasets.imdbws.com/title.principals.tsv.gz …
Decompressing imdb_data\title.principals.tsv.gz → imdb_data\title.principals.tsv …
Loading imdb_data\title.principals.tsv into DataFrame …
title.principals loaded: (96206765, 6)
Downloading https://datasets.imdbws.com/title.crew.tsv.gz …
Decompressing imdb_data\title.crew.tsv.gz → imdb_data\title.crew.tsv …
Loading imdb_data\title.crew.tsv into DataFrame …
title.crew loaded: (12108232, 3)
Downloading https://datasets.imdbws.com/title.episode.tsv.gz …
Decompressing imdb_data\title.episode.tsv.gz → imdb_data\title.episode.tsv …
Loading imdb_data\title.episode.tsv into DataFrame …
title.episode loaded: (9332525, 4)
Downloading https://datasets.imdbws.com/title.akas.tsv.gz …
Decompressing imdb_data\title.akas.tsv.gz → imdb_data\title.akas.tsv …
Loading imdb_data\title.akas.tsv into DataFrame …

In [1]:
import pandas as pd
df_name_basics = pd.read_csv('imdb_data/name.basics.tsv', sep='\t', dtype=str, low_memory=False)
df_title_basics = pd.read_csv('imdb_data/title.basics.tsv', sep='\t', dtype=str, low_memory=False)
df_title_ratings = pd.read_csv('imdb_data/title.ratings.tsv', sep='\t', dtype=str, low_memory=False)
df_title_crew = pd.read_csv('imdb_data/title.crew.tsv', sep='\t', dtype=str, low_memory=False)
df_title_akas = pd.read_csv('imdb_data/title.akas.tsv', sep='\t', dtype=str, low_memory=False)

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.0.2 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "c:\Users\mathr\anaconda3\Lib\site-packages\ipykernel_launcher.py", line 17, in <module>
    app.launch_new_instance()
  File "c:\Users\mathr\anaconda3\Lib\site-packages\traitlets\config\application.py", line 1075, in launch_instance
    app.start()
  File "c:\Users\mathr\anaconda3\Lib\site-packages\ipykernel\kernelapp.py", line 701, in start
    self.io_loop.start()
  File "c:\Users\mathr\anaconda3\Lib\site-packages\tornado\platform\asyncio.py", line 205, in start
    self.asyncio_loop.run_forever()
  File "c:\Users\mathr\anaconda3\Lib\asyncio\windows_events.py", line 322, in run_forever
    super().run_forever()
  File "c:\Users\mathr\anaconda3\Lib\asyncio\base_events.py", line 641, in run_forever
    self._run_once()
  File "c:\Users\mathr\anaconda3\Lib\asyncio\base_events.py", line 1987, in _run_once
    handle._run()
  File "c:\Users\mathr\anaconda3\Lib\asyncio\events.py", line 88, in _run
    self._context.run(self._callback, *self._args)
  File "c:\Users\mathr\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 534, in dispatch_queue
    await self.process_one()
  File "c:\Users\mathr\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 523, in process_one
    await dispatch(*args)
  File "c:\Users\mathr\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 429, in dispatch_shell
    await result
  File "c:\Users\mathr\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 767, in execute_request
    reply_content = await reply_content
  File "c:\Users\mathr\anaconda3\Lib\site-packages\ipykernel\ipkernel.py", line 429, in do_execute
    res = shell.run_cell(
  File "c:\Users\mathr\anaconda3\Lib\site-packages\ipykernel\zmqshell.py", line 549, in run_cell
    return super().run_cell(*args, **kwargs)
  File "c:\Users\mathr\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3075, in run_cell
    result = self._run_cell(
  File "c:\Users\mathr\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3130, in _run_cell
    result = runner(coro)
  File "c:\Users\mathr\anaconda3\Lib\site-packages\IPython\core\async_helpers.py", line 129, in _pseudo_sync_runner
    coro.send(None)
  File "c:\Users\mathr\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3334, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "c:\Users\mathr\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3517, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "c:\Users\mathr\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3577, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\mathr\AppData\Local\Temp\ipykernel_24252\7053637.py", line 1, in <module>
    import pandas as pd
  File "c:\Users\mathr\anaconda3\Lib\site-packages\pandas\__init__.py", line 61, in <module>
    from pandas.core.api import (
  File "c:\Users\mathr\anaconda3\Lib\site-packages\pandas\core\api.py", line 28, in <module>
    from pandas.core.arrays import Categorical
  File "c:\Users\mathr\anaconda3\Lib\site-packages\pandas\core\arrays\__init__.py", line 1, in <module>
    from pandas.core.arrays.arrow import ArrowExtensionArray
  File "c:\Users\mathr\anaconda3\Lib\site-packages\pandas\core\arrays\arrow\__init__.py", line 5, in <module>
    from pandas.core.arrays.arrow.array import ArrowExtensionArray
  File "c:\Users\mathr\anaconda3\Lib\site-packages\pandas\core\arrays\arrow\array.py", line 52, in <module>
    from pandas.core import (
  File "c:\Users\mathr\anaconda3\Lib\site-packages\pandas\core\ops\__init__.py", line 8, in <module>
    from pandas.core.ops.array_ops import (
  File "c:\Users\mathr\anaconda3\Lib\site-packages\pandas\core\ops\array_ops.py", line 56, in <module>
    from pandas.core.computation import expressions
  File "c:\Users\mathr\anaconda3\Lib\site-packages\pandas\core\computation\expressions.py", line 21, in <module>
    from pandas.core.computation.check import NUMEXPR_INSTALLED
  File "c:\Users\mathr\anaconda3\Lib\site-packages\pandas\core\computation\check.py", line 5, in <module>
    ne = import_optional_dependency("numexpr", errors="warn")
  File "c:\Users\mathr\anaconda3\Lib\site-packages\pandas\compat\_optional.py", line 135, in import_optional_dependency
    module = importlib.import_module(name)
  File "c:\Users\mathr\anaconda3\Lib\importlib\__init__.py", line 90, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "c:\Users\mathr\anaconda3\Lib\site-packages\numexpr\__init__.py", line 24, in <module>
    from numexpr.interpreter import MAX_THREADS, use_vml, __BLOCK_SIZE1__

AttributeError: _ARRAY_API not found

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.0.2 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "c:\Users\mathr\anaconda3\Lib\site-packages\ipykernel_launcher.py", line 17, in <module>
    app.launch_new_instance()
  File "c:\Users\mathr\anaconda3\Lib\site-packages\traitlets\config\application.py", line 1075, in launch_instance
    app.start()
  File "c:\Users\mathr\anaconda3\Lib\site-packages\ipykernel\kernelapp.py", line 701, in start
    self.io_loop.start()
  File "c:\Users\mathr\anaconda3\Lib\site-packages\tornado\platform\asyncio.py", line 205, in start
    self.asyncio_loop.run_forever()
  File "c:\Users\mathr\anaconda3\Lib\asyncio\windows_events.py", line 322, in run_forever
    super().run_forever()
  File "c:\Users\mathr\anaconda3\Lib\asyncio\base_events.py", line 641, in run_forever
    self._run_once()
  File "c:\Users\mathr\anaconda3\Lib\asyncio\base_events.py", line 1987, in _run_once
    handle._run()
  File "c:\Users\mathr\anaconda3\Lib\asyncio\events.py", line 88, in _run
    self._context.run(self._callback, *self._args)
  File "c:\Users\mathr\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 534, in dispatch_queue
    await self.process_one()
  File "c:\Users\mathr\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 523, in process_one
    await dispatch(*args)
  File "c:\Users\mathr\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 429, in dispatch_shell
    await result
  File "c:\Users\mathr\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 767, in execute_request
    reply_content = await reply_content
  File "c:\Users\mathr\anaconda3\Lib\site-packages\ipykernel\ipkernel.py", line 429, in do_execute
    res = shell.run_cell(
  File "c:\Users\mathr\anaconda3\Lib\site-packages\ipykernel\zmqshell.py", line 549, in run_cell
    return super().run_cell(*args, **kwargs)
  File "c:\Users\mathr\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3075, in run_cell
    result = self._run_cell(
  File "c:\Users\mathr\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3130, in _run_cell
    result = runner(coro)
  File "c:\Users\mathr\anaconda3\Lib\site-packages\IPython\core\async_helpers.py", line 129, in _pseudo_sync_runner
    coro.send(None)
  File "c:\Users\mathr\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3334, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "c:\Users\mathr\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3517, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "c:\Users\mathr\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3577, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\mathr\AppData\Local\Temp\ipykernel_24252\7053637.py", line 1, in <module>
    import pandas as pd
  File "c:\Users\mathr\anaconda3\Lib\site-packages\pandas\__init__.py", line 61, in <module>
    from pandas.core.api import (
  File "c:\Users\mathr\anaconda3\Lib\site-packages\pandas\core\api.py", line 28, in <module>
    from pandas.core.arrays import Categorical
  File "c:\Users\mathr\anaconda3\Lib\site-packages\pandas\core\arrays\__init__.py", line 1, in <module>
    from pandas.core.arrays.arrow import ArrowExtensionArray
  File "c:\Users\mathr\anaconda3\Lib\site-packages\pandas\core\arrays\arrow\__init__.py", line 5, in <module>
    from pandas.core.arrays.arrow.array import ArrowExtensionArray
  File "c:\Users\mathr\anaconda3\Lib\site-packages\pandas\core\arrays\arrow\array.py", line 66, in <module>
    from pandas.core.arrays.masked import BaseMaskedArray
  File "c:\Users\mathr\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py", line 61, in <module>
    from pandas.core import (
  File "c:\Users\mathr\anaconda3\Lib\site-packages\pandas\core\nanops.py", line 52, in <module>
    bn = import_optional_dependency("bottleneck", errors="warn")
  File "c:\Users\mathr\anaconda3\Lib\site-packages\pandas\compat\_optional.py", line 135, in import_optional_dependency
    module = importlib.import_module(name)
  File "c:\Users\mathr\anaconda3\Lib\importlib\__init__.py", line 90, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "c:\Users\mathr\anaconda3\Lib\site-packages\bottleneck\__init__.py", line 7, in <module>
    from .move import (move_argmax, move_argmin, move_max, move_mean, move_median,

ImportError:
A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.0.2 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

## **Question**

#### **How many total people in data set?**

In [22]:
# get number of rows in name.basics
df_name_basics.shape[0]

14909809

#### **What is the earliest year of birth?**

In [ ]:
# find the earliest born person
earliest_year = df_name_basics['birthYear'].replace('\\N', pd.NA).dropna().astype(int).min()

# get the rows of the earliest born person
df_earliest = df_name_basics[df_name_basics['birthYear'] == str(earliest_year)]

display(df_earliest)
print("The earliest person born in the dataset was in year " + df_earliest['birthYear'].values[0])

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
737970,nm0784172,Lucio Anneo Seneca,4,65,writer,"tt0043802,tt0218822,tt0049203,tt0972562"

The earliest person born in the dataset was in year 4

#### **How many years ago was this person born?**

In [4]:
from datetime import datetime

# get the current year
current_year = datetime.now().year

# calculate how many years ago that was
year_ago = current_year - earliest_year
print("It was" ,year_ago, "years ago")

It was 2021 years ago

#### **Using only the data in the data set, determine if this date of birth correct.**

In [ ]:
# Convert birthYear and deathYear to integers (NA values become pd.NA).
df_earliest['birthYear'] = pd.to_numeric(
    df_earliest['birthYear'],
    errors='coerce'
).astype('Int64')

df_earliest['deathYear'] = pd.to_numeric(
    df_earliest['deathYear'].replace('\\N', pd.NA),
    errors='coerce'
).astype('Int64')

# Check if he is dead
df_earliest['is_dead'] = df_earliest['deathYear'].notna()
# Check if death year is after birth year
df_earliest['death_after_birth'] = df_earliest['deathYear'] > df_earliest['birthYear']
# Check if he lived a plausible life span (< 150 years)
df_earliest['plausible_life'] = df_earliest['deathYear'] - df_earliest['birthYear'] < 150


# Plausible professions for a person born in year 4 
non_modern_professions = {'writer', 'miscellaneous', '\\N'}

# Split the primaryProfession into a list
df_earliest['profession_list'] = (
    df_earliest['primaryProfession']
    .fillna('')
    .str.split(',')
    .apply(lambda lst: [p.strip() for p in lst])
)

# profession_coherent = True if all professions are not modern or null
df_earliest['profession_coherent'] = df_earliest['profession_list'].apply(
    lambda profs: (
        all(p in non_modern_professions for p in profs)
    )
)

# Determine if the birthdate is credible with all conditions met
df_earliest['credible_birthdate'] = (
    df_earliest['is_dead'] & 
    df_earliest['death_after_birth'] & 
    df_earliest['plausible_life'] &
    df_earliest['profession_coherent']
)

result = df_earliest[[
    'primaryName', 
    'birthYear', 
    'deathYear', 
    'is_dead',
    'death_after_birth',
    'plausible_life',
    'profession_coherent',
    'credible_birthdate'
]].iloc[0]

display(result)
print(f"\nBirth year {df_earliest['birthYear'].values[0]} is {'CREDIBLE' if df_earliest['credible_birthdate'].values[0] else 'IMPLAUSIBLE'}")

C:\Users\mathr\AppData\Local\Temp\ipykernel_24252\3952098938.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_earliest['birthYear'] = pd.to_numeric(
C:\Users\mathr\AppData\Local\Temp\ipykernel_24252\3952098938.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_earliest['deathYear'] = pd.to_numeric(
C:\Users\mathr\AppData\Local\Temp\ipykernel_24252\3952098938.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_earliest['is_dead'] = df_earliest['deathYear'].notna()
C:\Users\mathr\AppData\Local\Temp\ipykernel_24252\3952098938.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_earliest['death_after_birth'] = df_earliest['deathYear'] > df_earliest['birthYear']
C:\Users\mathr\AppData\Local\Temp\ipykernel_24252\3952098938.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_earliest['plausible_life'] = df_earliest['deathYear'] - df_earliest['birthYear'] < 150
C:\Users\mathr\AppData\Local\Temp\ipykernel_24252\3952098938.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_earliest['profession_list'] = (
C:\Users\mathr\AppData\Local\Temp\ipykernel_24252\3952098938.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_earliest['profession_coherent'] = df_earliest['profession_list'].apply(
C:\Users\mathr\AppData\Local\Temp\ipykernel_24252\3952098938.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_earliest['credible_birthdate'] = (

primaryName            Lucio Anneo Seneca
birthYear                               4
deathYear                              65
is_dead                              True
death_after_birth                    True
plausible_life                       True
profession_coherent                  True
credible_birthdate                   True
Name: 737970, dtype: object

Birth year 4 is CREDIBLE

The code we used to extract all the professions and pick the non modern ones among the list :

In [ ]:
# List all unique professions in the dataset
all_professions = (
    df_name_basics["primaryProfession"]
    .dropna()
    .str.split(",")
    .explode()
    .str.strip()
    .unique()
)

print(len(all_professions), "professions found")
print(all_professions)

47 professions found
['actor' 'miscellaneous' 'producer' 'actress' 'soundtrack'
 'music_department' 'writer' 'director' 'stunts' 'make_up_department'
 'archive_footage' 'composer' 'assistant_director' 'camera_department'
 'music_artist' 'production_department' 'editor' 'cinematographer'
 'executive' 'visual_effects' 'costume_designer' 'script_department'
 'art_director' 'editorial_department' 'costume_department'
 'animation_department' 'art_department' 'talent_agent' 'archive_sound'
 'choreographer' 'production_designer' 'special_effects' 'manager'
 'production_manager' 'sound_department' 'casting_department'
 'location_management' 'casting_director' 'set_decorator'
 'transportation_department' '\\N' 'legal' 'publicist' 'accountant'
 'podcaster' 'assistant' 'electrical_department']

***Reasoning explanations***

To determine whether the birth year is credible using only the dataset, we apply a series of internal consistency checks based on the information available for this person.

1. **Death must occur after birth**  
   The recorded death year must be strictly greater than the recorded birth year.  
   If someone is listed as dying before they were born, the birth year cannot be credible.

2. **The lifespan must be humanly plausible**  
   We check that the person did not live more than 150 years.  
   This threshold is not meant to be historically precise, but simply to exclude biologically impossible ages.  
   If the computed age at death exceeds this limit, the birth year is considered implausible.

3. **The professions must be compatible with an ancient birth year**  
   Since a previous question showed that the earliest birth year in the dataset is year 4,  
   any individual born at that time must have professions that could exist in antiquity.  
   Only the professions *writer* and *miscellaneous* satisfy this condition.  
   If the person has any modern profession (e.g., actor, director, cinematographer, etc.),  
   then their recorded birth year cannot be credible, because these occupations depend on technologies that did not exist at that time.

4. **Final decision**  
   The birth year is marked as **credible** only if:  
   - the death year is valid and occurs after the birth year,  
   - the lifespan is plausible,  
   - and every listed profession is compatible with an ancient birth date.  
   If any of these conditions fails, the birth year is considered **implausible** based solely on the dataset.

#### **What is the most recent date of birth?**

In [30]:
# Find the most recent birth year in the dataset and display the corresponding people
latest_year = df_name_basics['birthYear'].replace('\\N', pd.NA).dropna().astype(int).max()
df_latest = df_name_basics[df_name_basics['birthYear'] == str(latest_year)]
df_latest

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
5900298,nm1542939,Vadim Smirnov,2025,\N,"actor,stunts","tt0325005,tt0387358,tt1502417,tt0309853"
7063452,nm16784939,Kyrah Ivy Jackson,2025,\N,actress,\N
11510332,nm5642311,Chase Ramsey,2025,\N,"actor,director,writer","tt17505010,tt14715170,tt4236770,tt17062324"

#### **What percentage of the people do not have a listed date of birth?**

In [29]:
# Count how many people have no birthYear ('\N' in the dataset)
missing_births = df_name_basics['birthYear'].value_counts().get('\\N', 0)

# Total number of people in the dataset
total_people = df_name_basics.shape[0]

# Compute the percentage of missing birth years
percentage_missing = (missing_births / total_people) * 100

print(f'Percentage of people without listed date of birth: {percentage_missing:.2f}%')

Percentage of people without listed date of birth: 95.57%

#### **What is the length of the longest "short" after 1900?**

In [31]:
# Convert startYear to numeric for filtering
start_year = pd.to_numeric(df_title_basics['startYear'], errors='coerce')

# Select short films released after 1900
df_after_1900 = df_title_basics[
    (start_year > 1900) &
    (df_title_basics['titleType'] == 'short')
]

# Convert runtime to numeric
runtime = pd.to_numeric(df_after_1900['runtimeMinutes'], errors='coerce')

# Find the longest short film in minutes
longest_short = int(runtime.max())

# Convert length into hours and minutes
hours = longest_short // 60
minutes = longest_short % 60

print(f'Length of the longest "short" after 1900: {longest_short} minutes', f'(= {hours}h{minutes})')

# Display the record corresponding to that longest short
df_longest_short = df_after_1900[runtime == longest_short]
df_longest_short

Length of the longest "short" after 1900: 1311 minutes (= 21h51)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8520566,tt35509411,short,Our First Day,Our First Day,0,2025,\N,1311,"Drama,Short"

#### **What is the length of the shortest "movie" after 1900?**

In [33]:
# Convert startYear to numeric for filtering
start_year = pd.to_numeric(df_title_basics['startYear'], errors='coerce')

# Select movies released after 1900
df_movies_after_1900 = df_title_basics[
    (start_year > 1900) &
    (df_title_basics['titleType'] == 'movie')
]

# Convert runtimes to numeric
runtime_movies = pd.to_numeric(df_movies_after_1900['runtimeMinutes'], errors='coerce')

# Find the shortest movie runtime
shortest_movie = int(runtime_movies.min())
print(f'Length of the shortest "movie" after 1900: {shortest_movie} minute(s)')

# Display the record corresponding to the shortest movie
df_shortest_movie = df_movies_after_1900[runtime_movies == shortest_movie]
df_shortest_movie

Length of the shortest "movie" after 1900: 1 minute(s)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
24728,tt0025166,movie,George White's Scandals,George White's Scandals,0,1934,\N,1,"Comedy,Musical,Romance"
450320,tt0469119,movie,Love Trap,Love Trap,0,2005,\N,1,Drama
784824,tt0810779,movie,Bound by Blood,Bound by Blood,0,2007,\N,1,Action
821097,tt0848384,movie,Nikkatsu on Parade,Nikkatsu on Parade,0,1930,\N,1,Documentary
2548473,tt12893768,movie,If I Die Tomorrow,If I Die Tomorrow,0,2020,\N,1,Documentary
6249529,tt26348770,movie,Dancing Boy,Dancing Boy,0,2023,\N,1,Documentary
7722600,tt32276067,movie,Honest Vikky (Life Coach),Honest Vikky (Life Coach),1,2024,\N,1,Adult
9390607,tt39051124,movie,The Challenger: Comic brought to Life,The Challenger: Comic brought to Life,0,2025,\N,1,Animation

#### **List of all of the genres represented.**

In [34]:
# Collect all distinct genres that appear in the dataset
all_genres = set()
for genres in df_title_basics['genres'].dropna():
    for genre in genres.split(','):
        all_genres.add(genre)
        
all_genres

{'Action',
 'Adult',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Film-Noir',
 'Game-Show',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Short',
 'Sport',
 'Talk-Show',
 'Thriller',
 'War',
 'Western',
 '\\N'}

#### **What is the highest rated comedy "movie" in the dataset?** 
#### **Note, if there is a tie, the tie shall be broken by the movie with the most votes.**

In [37]:
# Select all titles that are movies and include the genre 'Comedy'
df_comedy_movies = df_title_basics[
    (df_title_basics['titleType'] == 'movie') &
    (df_title_basics['genres'].str.contains('Comedy', na=False))
]

# Merge with ratings to get score and vote counts
df_comedy_with_ratings = pd.merge(
    df_comedy_movies,
    df_title_ratings,
    on='tconst',
    how='inner'
)

# Convert rating and vote counts to numeric
df_comedy_with_ratings['averageRating'] = pd.to_numeric(df_comedy_with_ratings['averageRating'], errors='coerce')
df_comedy_with_ratings['numVotes'] = pd.to_numeric(df_comedy_with_ratings['numVotes'], errors='coerce')

# Sort by rating first, then number of votes (both descending)
highest_rated_comedy = df_comedy_with_ratings.sort_values(
    by=['averageRating', 'numVotes'],
    ascending=[False, False]
)

display(highest_rated_comedy)

# Print the top result
print(
    "The highest rated comedy movie is",
    f"\"{highest_rated_comedy.iloc[0]['primaryTitle']}\"",
    "with a rating of",
    highest_rated_comedy.iloc[0]['averageRating'],
    "and",
    highest_rated_comedy.iloc[0]['numVotes'],
    "votes."
)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
78961,tt8458418,movie,O La La,O La La,0,2018,\N,125,Comedy,10.0,6
61952,tt27203772,movie,Rabb Di Awaaz,Rabb Di Awaaz,0,2023,\N,\N,"Comedy,Drama",9.9,22
64593,tt30788051,movie,The ReWrite.,The ReWrite.,0,2025,\N,94,"Comedy,Drama",9.9,21
62618,tt27949780,movie,Shubh Lagan Muhurt,Shubh Lagan Muhurt,0,2023,\N,131,Comedy,9.9,13
61163,tt25967770,movie,Zucchini,Zucchini,0,2025,\N,83,"Comedy,Romance",9.9,8
...,...,...,...,...,...,...,...,...,...,...,...
27218,tt0199358,movie,"Belli, carucci e pettinati","Belli, carucci e pettinati",0,2000,\N,\N,Comedy,1.0,13
59249,tt23012498,movie,Our President's Money,Our President's Money,0,2022,\N,\N,Comedy,1.0,12
62494,tt27819521,movie,Camp Break 2,Farar Az Kamp 2,0,2012,\N,\N,Comedy,1.0,11
63232,tt28689690,movie,The Rat Catcher,Moosh Gir,0,2017,\N,87,Comedy,1.0,9
63495,tt29202761,movie,Bolof 2014,Bolof 2014,0,2014,\N,\N,Comedy,1.0,9

The highest rated comedy movie is "O La La" with a rating of 10.0 and 6 votes.

#### **Who was the director of the movie Bob vs. Society?**

In [38]:
# Select the title entry for "Bob vs. Society"
df_bob_vs_society = df_title_basics[
    df_title_basics['primaryTitle'] == 'Bob vs. Society'
]

# Merge with crew data to access the director IDs
df_bob_vs_society_crew = pd.merge(
    df_bob_vs_society,
    df_title_crew,
    on='tconst',
    how='inner'
)

# Extract director IDs and retrieve their names
directors_ids = df_bob_vs_society_crew.iloc[0]['directors'].split(',')
directors = df_name_basics[df_name_basics['nconst'].isin(directors_ids)]

directors[['primaryName', 'nconst']]

              primaryName     nconst
8576362  David Pring-Mill  nm2301250

#### **List, if any, the alternate titles for the movie Bob vs. Society.**

In [15]:
df_bob_vs_society_akas = df_title_akas[
    df_title_akas['titleId'] == df_bob_vs_society.iloc[0]['tconst']
]

df_bob_vs_society_akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
15199552,tt1423343,1,Bob vs. Society,\N,\N,original,\N,1
15199553,tt1423343,2,Bob vs. Society,GB,\N,imdbDisplay,\N,0
15199554,tt1423343,3,Bob vs. Society,US,\N,imdbDisplay,\N,0